html,
body {
    min-width: 1122px;
    min-height: 550px;
    margin: 0;
    padding: 0;
}

.container {
    width: 750px;
    margin: 0 auto;
    padding: 0 10px;
    min-height: 70px;
}

.body-container {
    margin-bottom: 70px;
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*Header section*/

.header-heading h1 {
    font-family: "Comic Sans MS";
    font-size: 40px;
}



.navigation {
    display: inline-block;
}

.navigation a {
    margin: 0 20px;
    font-size: 25px;
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-family: 'Minion Cyrillic Bold', arial;
}

.navigation a:hover {
    border-bottom: 3px solid #C9C699;
}

.header-container {
    float: left;
    margin-bottom: 70px;
    width: 100%;
}

/*body sections*/

/*home page*/

.home-container {
    width: 100%;
    float: left;
    font-family: 'Minion Cyrillic Bold', arial;
}

.home-content {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.home-content h2 {
    font-size: 35px;
}

.home-content p {
    font-size: 20px;
}

/*receip page*/

.recipe-container {
    width: 100%;
    float: left;
}

/*receip navigation*/

.recipe-navigation {
    width: 100%;
    margin-bottom: 70px;
}

.add-button {
    width: 115px;
    height: 37px;
    background-color: rgb(91, 183, 91);
    border: 0px solid black;
    font-weight: bold;
    color: white;
    float: left;
    margin-right: 15px;
}

.add-button:hover {
    background-color: #9dd9b8;
}

.sort-button {
    background-color: rgb(85, 85, 85);
    width: 75px;
    height: 37px;
    border: 0px solid black;
    font-weight: bold;
    color: white;
    float: left;
}

.sort-button:hover {
    background-color: #969696;
}

/*receip content*/

.recipe-content {
    display: inline-block;
    width: 220px;
    height: 220px;
    box-shadow: 0 5px 32px 2px rgba(0, 0, 0, .17);
    border-style: solid;
    border-width: 1px;
    border-color: hsla(0, 0%, 90%, .97);
    background-color: #fff;
    margin-top: 28px;
    /*margin-bottom: 18px;*/
    padding-bottom: 15px;
    margin-right: 25px;
}

.recipe-content img {
    width: 100%;
    height: 150px;
}

.recipe-name {
    max-height: 36px;
    min-height: 36px;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 18px;
    text-align: center;
    font-weight: 700;
}

.recipe-name a {
    text-decoration: none;
}

/*add new recipe*/

.newRecipe-container {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.newRecipe-block {
    width: 500px;
    margin: 0 auto;
    border: 2px solid #33ccff;
    border-radius: 15px;
}

.newRecipe-heading {
    width: 350px;
    margin: 0 auto;
    font-weight: 200;
    margin-top: 75px;
    text-align: center;
    font-size: 40px;
    font-size: 2.5rem;
    letter-spacing: 0px;
    letter-spacing: 0.05rem;
}

.newRecipe-heading h2 {
    font-size: 35px;
    font-family: "Comic Sans MS";

}

.newRecipe-inputs {
    width: 350px;
    margin: 0 auto;
}

.recipe-name {
    display: inline-block;
}

.newRecipe-Ingrd {
    width: 350px;
    margin: 0 auto;
}

.newRecipe-Steps {
    width: 350px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.newRecipe-btn {
    margin: 15px;
}

.newRecipe-text {
    padding: 15px 5px;
    margin-left: 10px;
    margin-top: 20px;
    width: 260px;
    border: none;
    text-align: left;
    color: #757575;
}

/*
.newRecipe-inputs label {
    margin-bottom: 15px;
    text-align: right;
    float: left;
    display: block;
}
*/

.text-inputs-name {
    text-align: right;
    margin-bottom: 15px;
    width: 250px;
}

.text-inputs-ingrd {
    width: 250px;
}

.newRecipe-inputs span {
    display: block;
}


.recipeBtn {
    width: 50px;
    height: 46px;
    background-color: rgb(91, 183, 91);
    border: 0px solid black;
    font-weight: bold;
    color: white;
    margin-right: 15px;
    border-radius: 2px;
}

.newRecipe-Steps textarea {
    padding: 15px 5px;
    margin-left: 10px;
    margin-top: 20px;
    width: 260px;
    border: none;
    text-align: left;
    color: #757575;
}

.newRecipe-btn input {
    width: 115px;
    height: 46px;
    background-color: rgb(91, 183, 91);
    border: 0px solid black;
    font-weight: bold;
    color: white;
    margin-right: 15px;
    border-radius: 2px;
}

.backBtn {
    background-color: red !important;
}

/*recipe description*/

.recipePage-container {
    width: 100%;
    float: left;

    background-color: gray;
}

.recipePage-heading h2 {
    margin-top: 0px;
    margin-bottom: 15px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40px;
    line-height: 42px;
}

.recipePage-heading span {
    color: #aba9ae;
    font-size: 18px;
}

.recipePage-image {
    width: 450px;
    float: left;
}

.recipePage-image img {
    max-width: 100%;
    margin: 0 auto;
}


.recipePage-Ingr {
    width: 300px;
    float: right;
    font-size: 18px;
}

.recipePage-steps {
    float: right;
    width: 285px;
    font-size: 18px;
    padding-left: 15px;
}

.recipePage-nav {
    width: 300px;
    float: right;
}

.btn {
    width: 115px;
    height: 46px;
    background-color: rgb(91, 183, 91);
    border: 0px solid black;
    font-weight: bold;
    color: white;
    border-radius: 2px;
    margin: 10px;
}

.prv {
    background-color: skyblue;
    width: 130px;
}

.bck {
    background-color: red;
}

.recipePage-content {
    margin-bottom: 35px;
    float: left;
    width: 100%;
}

/*modify recipe*/

.modifyRecipe-container {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.modifyRecipe-block {
    width: 500px;
    margin: 0 auto;
    border: 2px solid #33ccff;
    border-radius: 15px;
}

.modifyRecipe-heading {
    width: 350px;
    margin: 0 auto;
    font-weight: 200;
    margin-top: 75px;
    text-align: center;
    font-size: 40px;
    font-size: 2.5rem;
    letter-spacing: 0px;
    letter-spacing: 0.05rem;
}

.modifyRecipe-heading h2 {
    font-size: 35px;
    font-family: "Comic Sans MS";
}

.modifyRecipe-inputs {
    width: 350px;
    margin: 0 auto;
}

.modifyRecipe-Ingrd {
    width: 350px;
    margin: 0 auto;
}

.modifyRecipe-Steps {
    width: 350px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.modifyRecipe-Steps textarea {
    width: 100%;
    padding: 15px 5px;
    margin-left: 10px;
    margin-top: 20px;
    border: none;
    text-align: left;
    color: #757575;
}

.modifyRecipe-btn input {
    width: 115px;
    height: 46px;
    background-color: rgb(91, 183, 91);
    border: 0px solid black;
    font-weight: bold;
    color: white;
    margin-right: 15px;
    border-radius: 2px;
}



/*footer section*/

.footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 140px;
    text-align: center;
}

.footer-content {
    margin-top: 60px;
    font-family: 'Minion Cyrillic Bold', arial;
}

.footer-content span {
    display: block;
}
