<div ng-show="historyPage">
    <div class="container">
        <div class="historyPage-container">
            <div class="historyPage-heading">
                <h3>Previous recipe versions</h3>
                <h2>Heading</h2>
                <span>time of creation</span>
            </div>
            <div class="historyPage-content">
                <div class="historyPage-image">
                    <img src="img/2.jpg" />
                </div>
                <div class="historyPage-Ingr">
                    <span>Ingredients:</span>
                    <ul>
                        <li>first</li>
                        <li>second</li>
                        <li>third</li>
                    </ul>
                </div>
                <div class="historyPage-steps">
                    <span>Steps:</span>
                    <p>In medium microwavable bowl, microwave chocolate chips and whipping cream uncovered on High 1 minute; stir. Microwave 30 seconds; stir until smooth. Carefully spread mixture on top of pudding layer. Refrigerate about 4 hours or until cooled completely.</p>
                </div>
                <div class="historyPage-nav">
                    <input type="button" value="Back" ng-click="backRecipe()" class="btn bck">
                </div>
            </div>
        </div>
    </div>
</div>
