<div ng-show="modifyRecipe">
    <div class="container">
        <div class="modifyRecipe-container">
            <div class="modifyRecipe-block">
                <div class="modifyRecipe-heading">
                    <h2>Modify Recipe</h2>
                </div>
                <div class="modifyRecipe-inputs">
                    <input type="text" placeholder="Recipe Name:" class="newRecipe-text">
                    <input type="text" placeholder="Ingredients:" ng-model="ingredients" class="newRecipe-text">
                    <input type="button" value="Add" ng-click="addToArray(ingredients)" class="recipeBtn">
                </div>
                <div class="modifyRecipe-Ingrd">
                    <ul>
                        <li ng-repeat="n in ingrdArray">{{n}}</li>
                    </ul>
                </div>
                <div class="modifyRecipe-Steps">
                    <textarea name="steps" cols="30" rows="8"></textarea>
                    <div class="modifyRecipe-btn">
                        <input type="button" value="Save recipe">
                        <input type="button" value="back to recipes" ng-click="backRecipe()" class="backBtn">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
