<div ng-show="recipe">
    <div class="recipe-container">
        <div class="recipe-navigation clearfix">
            <input class="add-button" type="button" value="Add new recipe" ng-click="newRecipeFunc()">
            <input class="sort-button" type="button" value="Sort">
        </div>
        <div class="recipe-content clearfix" ng-repeat="item in recipeArr | filter: sortTovars track by $index">
            <img src="../img/{{item.src}}" />
            <div class="recipe-name">
                <a href="#" ng-click="showRecipe(item.id, item.nameRC, item.dateCreation, item.src,item.ingredient, $index)">{{item.nameRC}}</a>
            </div>
            <div class="recipe-date">
                <span>{{item.creationDate | date:'MM/dd/yyyy'}}</span>
            </div>
        </div>
    </div>
</div>
