<div ng-show="recipePage">
    <div class="container">
        <div class="recipePage-container">
            <div class="recipePage-heading">
                <h2>{{choosenItemName}}</h2>
                <span>{{choosenItemDate}}</span>
            </div>
            <div class="recipePage-content">
                <div class="recipePage-image">
                    <img src="img/{{choosenItemSrc}}" />
                </div>
                <div class="recipePage-Ingr">
                    <span>Ingredients:</span>
                    <ul>
                        <li>first</li>
                        <li>second</li>
                        <li>third</li>
                    </ul>
                </div>
                <div class="recipePage-steps">
                    <span>Steps:</span>
                    <p>{{choosenItemText}}</p>
                </div>
                <div class="recipePage-nav">
                    <input type="button" value="Modify" ng-click="modifyRcp()" class="btn modf">
                    <input type="button" value="History" ng-click="historyRcp()" class="btn prv">
                    <input type="button" value="Back" ng-click="backRecipe()" class="btn bck">
                    <input type="button" value="Delete" ng-click="deleteRcp()" class="btn dlt">    
                </div>
            </div>
        </div>
    </div>
</div>
