<header>
    <div class="container">
        <div class="header-heading">
            <h1>COOKBOOK</h1>
        </div>
        <div class="header-navigation">
            <nav class="menu-container">
                <div class="navigation">
                    <ul>
                        <li ng-repeat="btn in menuNavigation">
                            <a href="" ng-click="btn.action()">{{btn.name}}</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
